<div>
    <div>
        <form id="searchForm">
          <label for="surname">Surname:</label>
          <input type="text" id="surname" name="surname" required>
      
          <label for="forename">Forename:</label>
          <input type="text" id="forename" name="forename" required>
      
          <button type="submit">Search</button>
        </form>
      </div>
      
      <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const surname = document.getElementById('surname').value;
          const forename = document.getElementById('forename').value;
          window.location.href = `/search?family=${surname}&given=${forename}`;
        });
      </script>
</div>
<table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full URL</th>
        <th>Family Name</th>
        <th>Given Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <% entry.forEach(item => { %>
        <tr>
          <td><%= item.resource.id %></td>
          <td><a href="<%= item.fullUrl %>"><%= item.fullUrl %></a></td>
          <td><%= item.resource.name[0].family %></td>
          <td><%= item.resource.name[0].given.join(' ') %></td>
          <td><%= item.resource.gender %></td>
          <td><%= item.resource.birthDate %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  