
<table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full URL</th>
        <th>Family Name</th>
        <th>Given Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <% entry.forEach(item => { %>
        <tr>
          <td><%= item.resource.id %></td>
          <td><a href="<%= item.fullUrl %>"><%= item.fullUrl %></a></td>
          <td><%= item.resource.name[0].family %></td>
          <td><%= item.resource.name[0].given.join(' ') %></td>
          <td><%= item.resource.gender %></td>
          <td><%= item.resource.birthDate %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  