<form name="bundle" action="Patient" method="post" >
   
    <!-- <input type="date" name="Patient.birthDate" value='<%= Patient.birthDate %>' /> -->
    <input type="text" name="resourceType" value = "Patient" />
    <br/>
    <input type="text" name="id" value='<%= Patient.id %>' />
    <br/>

    <input type="text" name="name[given]" value='<%= Patient.name[0].given[0] %>' />
    <br/>
    <input type="text" name="name[family]" value='<%= Patient.name[0].family[0] %>' />
    <br/>
    <%- include('../../partials/date'); %>
    <input type="submit" value="Save"/>
</form>