<div>
    <h3>Patient Details</h3>
    <form id="patientDetailsForm">
      <div>
        <label for="patientId">ID:</label>
        <input type="hidden" id="patientId" name="patientId" value="<%= patient.id %>" readonly>
      </div>
      <div>
        <label for="familyName">Family Name:</label>
        <input type="text" id="familyName" name="familyName" value="<%= patient.name[0].family %>">
      </div>
      <div>
        <label for="givenName">Given Name:</label>
        <input type="text" id="givenName" name="givenName" value="<%= patient.name[0].given[0] %>">
      </div>
      <div>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="<%= patient.gender %>">
      </div>
      <div>
        <label for="birthDate">Birth Date:</label>
        <input type="text" id="birthDate" name="birthDate" value="<%= patient.birthDate %>">
      </div>
      <!-- Add more patient details as needed -->
    </form>
  </div>
  