<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h5>Patients</h5>
            <%- include('../partials/Search/searchForm', { entry: entry }) %>
            <br/>
            <%- include('../partials/Search/searchResults', { entry: entry }) %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>