<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/navbar', { navbarItems }) %>
  </header>

  <main>
    <div class="jumbotron">
    
      <div class="container">

        <div class="row">

          <div class="col-md-6">
            <%- include('../partials/Search/searchPatientForm', { entry: entry }) %>
              <br />
              <% if (entry && entry.length> 0) { %>
                <%- include('../partials/Search/patientSearchResults', { entry: entry }) %>
                  <% } else { %>
                    <p>No results found.</p>
                    <% } %>


                      <div id="patientDetail" class="patientDetail"></div></br>
                      <div id="resourceHistory" class="resourceHistory"></div>
          </div>
          <div class="col-md-6">
            <div id="resourceDetail" class="resourceDetail"></div>
            
          </div>

        </div>

      </div>

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../../static/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>