<div>
        <form id="Appointment">
        <h3>Appointment Resource:</h3>
        <label for='Encounter.id'>id</label>
        <input type="text" disabled id="Appointment.id" name="id"
        value="<%= data && data.id ? data.id : '' %>"
        ></input>
    <div class="form-group">
<label for='Identifier.identifier'>identifier</label>
<input type='text' id='Appointment.identifier' name='identifier' title='name: identifier  minOccurs: 0  maxOccurs: unbounded  type: Identifier  '
                value="<%= data && data.identifier ? data.identifier : '' %>">Identifier
                </div>
<div class="form-group">
<label for='AppointmentStatus.status'>status</label>
<input type='text' id='Appointment.status' name='status' title='name: status  minOccurs: 1  maxOccurs: 1  type: AppointmentStatus  '
                value="<%= data && data.status ? data.status : '' %>">AppointmentStatus
                </div>
<div class="form-group">;[]
<label for='CodeableConcept.cancelationReason'>cancelationReason</label>
<input type='text' id='Appointment.cancelationReason' name='cancelationReason' title='name: cancelationReason  minOccurs: 0  maxOccurs: 1  type: CodeableConcept  '
                value="<%= data && data.cancelationReason ? data.cancelationReason : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='CodeableConcept.serviceCategory'>serviceCategory</label>
<input type='text' id='Appointment.serviceCategory' name='serviceCategory' title='name: serviceCategory  minOccurs: 0  maxOccurs: unbounded  type: CodeableConcept  '
                value="<%= data && data.serviceCategory ? data.serviceCategory : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='CodeableConcept.serviceType'>serviceType</label>
<input type='text' id='Appointment.serviceType' name='serviceType' title='name: serviceType  minOccurs: 0  maxOccurs: unbounded  type: CodeableConcept  '
                value="<%= data && data.serviceType ? data.serviceType : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='CodeableConcept.specialty'>specialty</label>
<input type='text' id='Appointment.specialty' name='specialty' title='name: specialty  minOccurs: 0  maxOccurs: unbounded  type: CodeableConcept  '
                value="<%= data && data.specialty ? data.specialty : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='CodeableConcept.appointmentType'>appointmentType</label>
<input type='text' id='Appointment.appointmentType' name='appointmentType' title='name: appointmentType  minOccurs: 0  maxOccurs: 1  type: CodeableConcept  '
                value="<%= data && data.appointmentType ? data.appointmentType : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='CodeableConcept.reasonCode'>reasonCode</label>
<input type='text' id='Appointment.reasonCode' name='reasonCode' title='name: reasonCode  minOccurs: 0  maxOccurs: unbounded  type: CodeableConcept  '
                value="<%= data && data.reasonCode ? data.reasonCode : '' %>">CodeableConcept
                </div>
<div class="form-group">
<label for='Reference.reasonReference'>reasonReference</label>
<input type='text' id='Appointment.reasonReference' name='reasonReference' title='name: reasonReference  minOccurs: 0  maxOccurs: unbounded  type: Reference  '
            value="<%= data && data.reasonReference ? data.reasonReference.reference : '' %>">Reference
            </div>
<div class="form-group">
<label for='unsignedInt.priority'>priority</label>
<input type='text' id='Appointment.priority' name='priority' title='name: priority  minOccurs: 0  maxOccurs: 1  type: unsignedInt  '
                value="<%= data && data.priority ? data.priority : '' %>">unsignedInt
                </div>
<div class="form-group">
<label for='string.description'>description</label>
<input type='text' id='Appointment.description' name='description' title='name: description  minOccurs: 0  maxOccurs: 1  type: string  '
                value="<%= data && data.description ? data.description : '' %>">string
                </div>
<div class="form-group">
<label for='Reference.supportingInformation'>supportingInformation</label>
<input type='text' id='Appointment.supportingInformation' name='supportingInformation' title='name: supportingInformation  minOccurs: 0  maxOccurs: unbounded  type: Reference  '
            value="<%= data && data.supportingInformation ? data.supportingInformation.reference : '' %>">Reference
            </div>
<div class="form-group">
<label for='instant.start'>start</label>
<input type='text' id='Appointment.start' name='start' title='name: start  minOccurs: 0  maxOccurs: 1  type: instant  '
                value="<%= data && data.start ? data.start : '' %>">instant
                </div>
<div class="form-group">
<label for='instant.end'>end</label>
<input type='text' id='Appointment.end' name='end' title='name: end  minOccurs: 0  maxOccurs: 1  type: instant  '
                value="<%= data && data.end ? data.end : '' %>">instant
                </div>
<div class="form-group">
<label for='positiveInt.minutesDuration'>minutesDuration</label>
<input type='text' id='Appointment.minutesDuration' name='minutesDuration' title='name: minutesDuration  minOccurs: 0  maxOccurs: 1  type: positiveInt  '
                value="<%= data && data.minutesDuration ? data.minutesDuration : '' %>">positiveInt
                </div>
<div class="form-group">
<label for='Reference.slot'>slot</label>
<input type='text' id='Appointment.slot' name='slot' title='name: slot  minOccurs: 0  maxOccurs: unbounded  type: Reference  '
            value="<%= data && data.slot ? data.slot.reference : '' %>">Reference
            </div>
<div class="form-group">
<label for='dateTime.created'>created</label>
<input type='text' id='Appointment.created' name='created' title='name: created  minOccurs: 0  maxOccurs: 1  type: dateTime  '
                value="<%= data && data.created ? data.created : '' %>">dateTime
                </div>
<div class="form-group">
<label for='string.comment'>comment</label>
<input type='text' id='Appointment.comment' name='comment' title='name: comment  minOccurs: 0  maxOccurs: 1  type: string  '
                value="<%= data && data.comment ? data.comment : '' %>">string
                </div>
<div class="form-group">
<label for='string.patientInstruction'>patientInstruction</label>
<input type='text' id='Appointment.patientInstruction' name='patientInstruction' title='name: patientInstruction  minOccurs: 0  maxOccurs: 1  type: string  '
                value="<%= data && data.patientInstruction ? data.patientInstruction : '' %>">string
                </div>
<div class="form-group">
<label for='Reference.basedOn'>basedOn</label>
<input type='text' id='Appointment.basedOn' name='basedOn' title='name: basedOn  minOccurs: 0  maxOccurs: unbounded  type: Reference  '
            value="<%= data && data.basedOn ? data.basedOn.reference : '' %>">Reference
            </div>
<div class="form-group">
<label for='Appointment.Participant.participant'>participant</label>
<input type='text' id='Appointment.participant' name='participant' title='name: participant  type: Appointment.Participant  minOccurs: 1  maxOccurs: unbounded  '
                value="<%= data && data.participant ? data.participant : '' %>">Appointment.Participant
                </div>
<div class="form-group">
<label for='Period.requestedPeriod'>requestedPeriod</label>
<input type='text' id='Appointment.requestedPeriod' name='requestedPeriod' title='name: requestedPeriod  minOccurs: 0  maxOccurs: unbounded  type: Period  '
                value="<%= data && data.requestedPeriod ? data.requestedPeriod : '' %>">Period
                </div>
</form>
    <div>